<div class="gradient">
  <mat-toolbar class="white-color" style="background-color: transparent">
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      class="pr-40px menu-icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span [matTooltip]="roleCurrentUser ? roleCurrentUser : ''"
      >{{ "translation.Greeting" | translate }} {{ currentUser.name }}
      {{ currentUser.lastName }}
    </span>
    <span class="spacer"></span>

    <button
      mat-icon-button
      [matTooltip]="languageName()"
      (click)="changeLanguage('de')"
    >
      <mat-icon [svgIcon]="currentFlag"></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <i class="material-icons">panorama_fish_eye</i>
    </button>
  </mat-toolbar>

  <div>
    <app-userlist *ngIf="prefix === 'list-user'"></app-userlist>
  </div>

  <mat-sidenav-container class="gradient" [hasBackdrop]="false" fxFlexFill>
    <mat-sidenav #sidenav class="mar-64px">
      <mat-nav-list (click)="onMenuClick('list-user')">
        <a matLine> {{ "UserList.UserList" | translate }} </a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
