<div class="Table">
  <table
    matSort
    (matSortChange)="sortData($event)"
    mat-table
    [dataSource]="dataSource"
    matSort
  >
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Name"
      >
        {{ "UserList.Name" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Last Name"
      >
        {{ "UserList.LastName" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="login">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Login"
      >
        {{ "UserList.Login" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.login }}</td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Role"
      >
        {{ "UserList.Role" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ getRole(element.role) }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="center center">
          {{ "UserList.Action" | translate }}
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutAlign="center center">
          <button>
            <mat-icon (click)="editUser(element)">edit</mat-icon>
          </button>
          <button>
            <mat-icon (click)="onDelete(element)">delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
