.error-style {
  color: red;
}
.dialog {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
