<div class="login-box">
  <div class="form">
    <form [formGroup]="form">
      <h2 class="form-title">Log in</h2>

      <mat-form-field class="">
        <mat-label>Email</mat-label>
        <input
          id="User"
          formControlName="username"
          type="email"
          matInput
          placeholder="Ex. pat@example.com"
        />
      </mat-form-field>

      <mat-form-field class="">
        <mat-label>password</mat-label>
        <input id="Pass" formControlName="password" type="password" matInput />
      </mat-form-field>

      <button
        mat-button
        color="primary"
        class=""
        (click)="SubmitLoginDetails()"
      >
        Next
      </button>

      <div class="links">
        <div><a href="#">Forgot password</a></div>

        <a routerLink="/register">Create New Account</a>
      </div>
    </form>
  </div>
</div>
