<div class="login-box">
  <div class="form">
    <form [formGroup]="form">
      <h2 class="form-title">Log in</h2>

      <mat-form-field class="">
        <mat-label>Email</mat-label>
        <input
          id="User"
          formControlName="username"
          type="email"
          matInput
          placeholder="Ex. pat@example.com"
        />
      </mat-form-field>

      <mat-form-field class="">
        <mat-label>{{ "translation.Password" | translate }}</mat-label>
        <input id="Pass" formControlName="password" type="password" matInput />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class=""
        (click)="SubmitLoginDetails()"
      >
        {{ "translation.BtnNext" | translate }}
      </button>

      <div class="links">
        <div>
          <a href="#">{{ "translation.ForgetPassword" | translate }}</a>
        </div>

        <a routerLink="/register">{{
          "translation.CreateAccount" | translate
        }}</a>
      </div>
    </form>
  </div>
</div>
